body{
    background: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;;
    position: relative;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.mask{
    background: #FFF;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}
.phone{
    background: #DDD;
    width: 375px;
    margin: 100px auto;
}
.top{
    background: #333;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    line-height: 0;
    align-items: center;
}
.top .time{
    margin-left: 5px;
    font-size: 12px;
}
.top i{
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
}
.player{
    display: flex;
    flex-direction: column;
    box-shadow:8px 8px 16px rgb(145, 145, 145);
    align-items: center;
    padding:100px 0;
    border-radius: 0 0 5px 5px;
}
.img{
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    border-radius: 35px;
    padding: 15px;
    margin-bottom: 60px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.name{
    line-height: 0;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 400;
    color:#333
}
.singer{
    line-height: 0;
    font-size: 10px;
    font-weight: 400;
    color:#404040
}

.progress{
    width: 200px;  
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.progress:before{
    content: "0:00";
    position: absolute;
    left:0;
    top:-18px;
    font-size: 14px;
    color: #333;
}
.progress:after{
    content: "4:32";
    position: absolute;
    right:0;
    top:-18px;
    font-size: 14px;
    color: #333;
}
.line{
    height: 8px;
    width: 100px;
    background: #333;
}
.playing{  
    background: #cacaca;
}
.dot{
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background: #333;
    position: absolute;
    left:50%;
    transform: translateX(-7px);
    top:-4px
}
.btns{

    display: flex;
    justify-content: space-around;
    width: 200px;
}


.btns button{
    border-radius: 100%;
    height: 42px;
    width: 42px;
    border: none;
    background: #E1e1e1;
    box-shadow: 5px 5px 15px #65656540;
    color: #333;
    transition: 0.5s;
}

.btns button:hover{
    background: #333;
    color: #FFF;
}

.play{
    font-size: 16px;
    text-align: center;
    line-height: 0;
}
.prev,.next{
    font-size: 12px;
}
